.block--intelligence {
    display: inline-flex;
    margin-top: 30px;
    height: max-content;
    width: 100%;
}

.personality {
    display: block;
    width: 100%;
    height: max-content;
    margin-right: 10px;
}

.text-like-box.bottom {
    top: -250px;
    width: 31%;
    padding-top: 0px;
    clear: left;
    background-image: none;
}

.text-like-box.bottom.v2 {
    top: -32px;
    width: 80%;
    margin-left: 30%;
    float: none;
    clear: none;
}

@media (max-width: 767px) {
    .text-like-box.bottom {
        top: -280px;
    }
}