.bar--passions {
    position: relative;
    top: -110px;
    opacity: 0.8;
    width: 25%;
    height: 200px;
    margin-left: 8%;
    clear: left;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(265deg,
            #7782ff,
            rgba(99, 112, 255, 0) 86%);
    background-image: linear-gradient(185deg, #7782ff, rgba(99, 112, 255, 0) 86%);

    @media (max-width: 767px) {
        top: -150px;
    }
}
