@import "_theme/var";

.header {
    // TODO: change min-width
    min-width: map-get($map: $screens, $key: large);
    background-color: map-get($map: $colors, $key: mine-shaft);

    &--inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 1em;
        box-sizing: border-box;
    }
}