@import "_theme/mixins";

.packages {
    @include core-size(100%, max-content, flex);
    @include core-padding(35px, 20px, 30px, 30px);
    justify-content: space-between;
    
    .card {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                @include animation-fade-in($i, $i * .3s);
                .circle {
                    @include animation-pulse($i, $i * .4s);
                }
            }
        }
    }

    .npm-icon {
        position: absolute;
        top: 14px;
        left: 14px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        
    }

    @media (max-width: 767px) {
        .npm-icon {
            top: 11px;
            left: 12px;
        }

        .card--package {
            width: 40px !important;
        }
    }

}