[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] [data-line] {
  @apply px-4 py-1 leading-4;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] pre {
  @apply px-0;
}

[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-sm font-medium;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

.prose hr {
  @apply border-0 h-0.5 bg-gradient-to-r from-consistent/0 via-consistent-accent/70 to-consistent/0 dark:from-consistent/0 dark:via-consistent-accent/70 dark:to-consistent/0;
}

.prose img {
  @apply dark:opacity-90;
}

pre[data-theme='light'],
code[data-theme='light'] {
  @apply block dark:hidden;
}

pre[data-theme='dark'],
code[data-theme='dark'] {
  @apply hidden dark:block;
}
