@import "_theme/var";
@import "_theme/mixins";

.top-bar {
    $radius: 10px;

    @include core-position(relative);
    @include core-size(100%, 22px);
    border-bottom: 2px solid map-get($map: $themes, $key: main-theme);
    background-color: map-get($map: $colors-portfolio, $key: topbar-color);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    .dot {
        @include core-position(absolute, auto, 10px, 8px);
        @include core-size(5px, 5px);
        border-radius: 100%;
        background-color: white;

        &:nth-child(2) {
            left: 20px;
        }
        &:nth-child(3) {
            left: 30px;
        }
    }
}

