@import "_theme/var",
"_theme/mixins";

$transform: translate(0px, -50%) rotateX(55deg) rotateY(-3deg) rotateZ(49deg);

.portfolio--layout {
    @include core-size(100vw, 100vh, flex);
    background-color: map-get($map: $colors-hex, $key: dodger);
    perspective: map-get($map: $removed, $key: deep-end);

    .portfolio--box {
        @include core-size(950px, 560px);
        .portfolio--illustration {
            @include core-position(relative, 0px, 33.3333%, 50%, 0px);
            @include core-size(332px, 611px);
            perspective: map-get($map: $removed, $key: deep-end);
            transform: $transform scale(1.4);

            .portfolio {
                position: relative;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-image: linear-gradient(152deg,
                        map-get($map: $colors-hex, $key: melrose),
                        map-get($map: $colors-hex, $key: dodger) 74%);
                perspective: map-get($map: $removed, $key: deep);

                .portfolio--block {
                    &.col-md-1 {
                        flex-basis: 40%;
                    }

                    &.col-md-2 {
                        flex-basis: 60%;
                    }
                }
            }
        }

        @include media-query(deskt-lg) {
            .portfolio--illustration {
                transform: $transform scale(2);
            }
        }

        @include media-query(deskt-xl) {
            .portfolio--illustration {
                transform: $transform scale(2.5);
            }
        }

        @include media-query(tab-portrait) {
            display: flex;
            justify-content: center;
            .portfolio--illustration {
                left: 0;
                top: 0;
                transform: scale(1.3);
            }
        }

        @include media-query(ph-landscape) {
            width: 700px;
            height: 601px;
            .portfolio--illustration {
                left: 26.3333%;
                top: 54%;
                transform: $transform scale(1);
            }
        }
    }

    @include media-query(ph-portrait) {
        .portfolio--box {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            .portfolio--illustration {
                transform: scale(0.9);
                @include core-position(relative, 0, 0, 4%);
            }
        }
    }
}
