@import "_theme/var";

.portfolio--layout {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    background-color: map-get($map: $colors, $key: dodger);
    perspective: 9999px;

    .portfolio--illustration {
        position: absolute;
        left: 0px;
        top: 50%;
        right: 0px;
        display: block;
        width: 60%;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        perspective: 9999px;
        transform: translate(0px, -50%) rotateX(55deg) rotateY(-3deg) rotateZ(49deg);

        .portfolio {
            position: relative;
            display: block;
            width: 54%;
            height: 55vw;
            max-height: 750px;
            margin-right: auto;
            margin-left: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: linear-gradient(
                152deg, 
                map-get($map: $colors, $key: melrose), 
                map-get($map: $colors, $key: dodger) 74%
            );
            perspective: 999px;
        }
    }

    @media (max-width: 991px) {
        overflow: hidden;

        .portfolio {
            height: 63vw;
        }
    }

    @media (max-width: 767px) {
        min-height: 100vh;

        .portfolio--illustration {
            position: relative;
            top: 50%;
            width: 100%;
        }
    }

    @media (max-width: 479px) {
        .portfolio--illustration {
            top: 0%;
            transform: rotateX(55deg) rotateY(-3deg) rotateZ(49deg) scale(0.7);
        }

        .portfolio {
            width: 100%;
            height: 107vw;
        }
    }
}
