@import "_theme/var";

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;

    span {
        text-transform: uppercase;
        color: map-get($map: $grey, $key: 800);
    }
}
