@import "_theme/var";
@import "_theme/mixins";

.square {
    $color: map-get($map: $colors-hex, $key: dodger-blue);
    @include core-position(relative);
    @include core-size(25px, 25px);
    @include core-margin-sides;
    border-radius: 1px;
    background-color: map-get($map: $colors-hex, $key: fog);
    box-shadow: 11px 11px 0 -1px $color;
}