@import "_theme/var";

.logo {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &--light {
        color: map-get($colors-hex, dove-grey);
    }
    
    &--dark {
        color: map-get($colors-hex, calico);
    }
}