@import "_theme/var";
@import "_theme/functions";

.nav {
    float: right;
    padding: 0.25em 0;

    &__link {
        font-size: getFontSize(-2);
        margin-left: 2.5em;
        text-transform: uppercase;
        text-decoration: none;
        color: map-get($map: $colors, $key: dusty-grey);
        transition: color 250ms;
    }

    &--dark {
        .nav__link{
            &:hover,
            &--active {
                color: map-get($colors, white);
            }
        }
    }

    &--light {
        .nav__link {
            &:hover,
            &--active {
                color: map-get($map: $colors, $key: mine-shaft);
            }
        }
    }
}
