@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/averiasanslibre/ttf/AveriaSansLibre-Light.ttf") format("ttf"),
        url("_assets/fonts/averiasanslibre/woff2/AveriaSansLibre-Light.woff2") format("woff2"),
        url("_assets/fonts/averiasanslibre/woff/AveriaSansLibre-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/averiasanslibre/ttf/AveriaSansLibre-LightItalic.ttf") format("ttf"),
        url("_assets/fonts/averiasanslibre/woff2/AveriaSansLibre-LightItalic.woff2") format("woff2"),
        url("_assets/fonts/averiasanslibre/woff/AveriaSansLibre-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/averiasanslibre/ttf/AveriaSansLibre-Regular.ttf") format("ttf"),
        url("_assets/fonts/averiasanslibre/woff2/AveriaSansLibre-Regular.woff2") format("woff2"),
        url("_assets/fonts/averiasanslibre/woff/AveriaSansLibre-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/averiasanslibre/ttf/AveriaSansLibre-Italic.ttf") format("ttf"),
        url("_assets/fonts/averiasanslibre/woff2/AveriaSansLibre-Italic.woff2") format("woff2"),
        url("_assets/fonts/averiasanslibre/woff/AveriaSansLibre-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/averiasanslibre/ttf/AveriaSansLibre-Bold.ttf") format("ttf"),
        url("_assets/fonts/averiasanslibre/woff2/AveriaSansLibre-Bold.woff2") format("woff2"),
        url("_assets/fonts/averiasanslibre/woff/AveriaSansLibre-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/averiasanslibre/ttf/AveriaSansLibre-BoldItalic.ttf") format("ttf"),
        url("_assets/fonts/averiasanslibre/woff2/AveriaSansLibre-BoldItalic.woff2") format("woff2"),
        url("_assets/fonts/averiasanslibre/woff/AveriaSansLibre-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Thin.ttf") format("ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-ThinItalic.ttf") format("ttf");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-ExtraLight.ttf") format("ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-ExtraLightItalic.ttf") format("ttf");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-LightItalic.ttf") format("ttf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-MediumItalic.ttf") format("ttf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-SemiBoldItalic.ttf") format("ttf");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-BoldItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-ExtraBold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-ExtraBoldItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-Black.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("_assets/fonts/montserrat/ttf/Montserrat-BlackItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}