@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/ttf/AveriaSansLibre-Light.ttf") format("ttf"),
        url("_assets/fonts/woff2/AveriaSansLibre-Light.woff2") format("woff2"),
        url("_assets/fonts/woff/AveriaSansLibre-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/ttf/AveriaSansLibre-LightItalic.ttf") format("ttf"),
        url("_assets/fonts/woff2/AveriaSansLibre-LightItalic.woff2") format("woff2"),
        url("_assets/fonts/woff/AveriaSansLibre-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/ttf/AveriaSansLibre-Regular.ttf") format("ttf"),
        url("_assets/fonts/woff2/AveriaSansLibre-Regular.woff2") format("woff2"),
        url("_assets/fonts/woff/AveriaSansLibre-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/ttf/AveriaSansLibre-Italic.ttf") format("ttf"),
        url("_assets/fonts/woff2/AveriaSansLibre-Italic.woff2") format("woff2"),
        url("_assets/fonts/woff/AveriaSansLibre-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/ttf/AveriaSansLibre-Bold.ttf") format("ttf"),
        url("_assets/fonts/woff2/AveriaSansLibre-Bold.woff2") format("woff2"),
        url("_assets/fonts/woff/AveriaSansLibre-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url("_assets/fonts/ttf/AveriaSansLibre-BoldItalic.ttf") format("ttf"),
        url("_assets/fonts/woff2/AveriaSansLibre-BoldItalic.woff2") format("woff2"),
        url("_assets/fonts/woff/AveriaSansLibre-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}