$colors: (
	regent: #8a929d,
	lynch: #617693,
	chambray: #31517e,
	chatham: #12396e,
	parchment: #efe3d0,
	calico: #dfc08b,
	tussock: #c0903f,
	white: #ffffff,
	concrete: #f2f2f2,
	alto: #dedede,
	dusty-grey: #999999,
	dove-grey: #666666,
	mine-shaft: #333333
);

$grey-100: #F5F6F7;
$grey-200: #EBECED;
$grey-300: #C5C6C7;
$grey-400: #A7A8AA;
$grey-500: #898A8C;
$grey-600: #6B6C6F;
$grey-700: #404144;
$grey-800: #222426;