@import "_theme/var";
@import "_theme/functions";
@import "_theme/mixins";

.markdown {
    @import "typeography";
    @include core-size(100%, 100%);
    line-height: 1.5em;
    margin: 0 auto;
    min-height: 100vh;
  
    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    @media (min-width: 768px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: 640px) {
        max-width: 64rem;

    }

    .md--title {
        color: map-get($map: $colors-article, $key: heading);
        text-align: center;
        margin-bottom: 20px;
        font-size: 45px;
    }

    p,
    blockquote,
    table,
    pre {
        margin: 1em 0;
    }

    hr {
        border: none;
        background-color: map-get($map: $colors-article, $key: hr);
        height: 3px;
        margin: 2em 0;
    }

    img:not([class*='support__']) {
        max-width: 100%;
        height: auto;
    }

    b,
    strong {
        font-weight: 600;
    }

    i,
    em {
        font-style: italic;
    }
}
