@import "_theme/var";
@import "_theme/mixins";

.straight-line {
    @include core-size(83%, 2px);
    @include animation-fill-line(fill, 83%);
    position: relative;
    float: left;
    margin-left: 2%;
    padding-top: 22px;
    border-bottom: 2px solid map-get($map: $colors-hex, $key: concrete);

    &-full {
        @include core-size(100%, 2px);
        @include animation-fill-line(full, 100%);
        margin-top: 7px;
        clear: left;
        border-radius: 1px;
        background-color: map-get($map: $colors-hex, $key: concrete);

        &.shortened {
            @include animation-fill-line(short, 50%);
            width: 50%;
        }

        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                animation-delay: $i * (.3s);
            }
        }
    }
}