@import "_theme/var";

.reference {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    span {
        text-transform: uppercase;
        color: map-get($map: $grey, $key: 800);
    }
}
