@import "_theme/var";
@import "_theme/functions";

.footer {
    min-width: map-get($map: $screens, $key: large);
    background-color: map-get($map: $colors, $key: alto);

    &--inner {
        display: flex;
        padding: 0.5em 1em;

        &-middle {
            flex: 0 0 auto;
        }

        &-left,
        &-right {
            flex: 1 1 auto;
            padding: 0.2em 0;
        }

        &-right {
            text-align: right;
        }

        .footer__link--inner {
            font-size: getFontSize(-2);
            margin-right: 2em;
            text-decoration: none;
            text-transform: uppercase;
            color: map-get($map: $colors, $key: dusty-grey);
            transition: color 250ms;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: map-get($map: $colors, $key: mine-shaft);
            }
        }
    }
}