@import "_theme/mixins";

.personality {
    @include core-size(100%, max-content);
    margin-right: 10px;
    position: relative;
    .tooltip {
        left: 170%;
        top: 20%;
        user-select: none;
        &::after {
            top: 100%;
            left: 85%;
            width: 20px;
            height: 20px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}
