pre {
    background-color: map-get($map: $colors-article, $key: pre-bg);
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 8px 16px;
    border-radius: 3px;

    .language-diff {
        color: map-get($map: $colors-article, $key: pre-plain);
    }

    .language-text {
        color: map-get($map: $colors-article, $key: pre-plain);
    }

    .language-js {
        color: map-get($map: $colors-article, $key: pre-plain);
    }

    code {
        margin: 0;
        padding: 0;
        white-space: pre;
        border: none;
        background: transparent;

        .code-details-summary-span {
            margin-left: -15px;
            cursor: pointer;

            &::after {
                content: '\F103';
                float: left;
                position: relative;
                left: -2px;
                top: 2px;
                text-align: center;
            }
        }

        a {
            border-bottom: 1px dotted blueviolet;
        }

        .code-link {
            position: relative;

            &:hover {
                color: brown;
            }
        }
    }

    code,
    tt {
        background-color: transparent;
        border: none;
    }
}

code {
    font-size: 90%;
    margin: 0 2px;
    padding: 2px 6px;
    white-space: normal;
    background-color: map-get($map: $colors-article, $key: pre-bg);
    border-radius: 3px;
}
