h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h1,
h2,
h3,
h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: map-get($map: $colors-article, $key: heading);
}