@import "_theme/mixins";

$size: 80px;
$color: rgb(77, 13, 196);

.tooltip {
    @include tooltip-text(darken(white, 20%), 1rem);
    @include animation-rise-down(infinite, 3s, ease-in-out, translateX(-5px) translateY(-5px));
    @include core-size($size, $size);
    position: absolute;
    will-change: transform;
    border-radius: 26% 46% 54% 74% / 30% 70% 53% 47% ;
    background: rgba($color, 0.8);

    &::after {
        content: "";
        @include animation-fade-in(tooltip, .3s);
        @include core-position(absolute, unset, -25px, 65px, unset);
        @include core-size(20px, 20px);
        border-radius: 50%;
        background: rgba($color, 0.2);
    }
}