.experience {
    position: relative;
    margin-right: 35px;
    margin-left: 10px;
    width: max-content;
    width: 30%;
    float: left;
}

.square {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    width: 25px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1px;
    background-color: #d9ddff;
    box-shadow: 11px 11px 0 -1px #5b69ff;
}

.square._2 {
    margin-top: 20px;
}

.square._3 {
    margin-top: 20px;
    z-index: 1;
}

.connector-bar {
    position: absolute;
    left: 0px;
    top: 22px;
    right: 0px;
    display: block;
    width: 2px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d9ddff;
    box-shadow: 11px 11px 0 0 #5b69ff;
}
