.planet {
    width: 300px;
    height: 300px;
    background: #d8c98a;
    border-radius: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        right: 0;
        top: 0;
        border-radius: 100%;
        box-shadow: 0 0 0px rgba(255, 255, 255, 0.8),
            0 0 0 25px rgba(0, 0, 0, 0.08),
            0 0 0 55px rgba(0, 0, 0, 0.06),
            0 0 0 85px rgba(0, 0, 0, 0.04);
    }

    .planet_area {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        background: #d8c98a;
    
        .border {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 9px solid #ffffff52;
            z-index: 6;
            position: relative;
        }
        
        .part_1 {
            position: absolute;
            top: 51px;
            left: -23px;
            z-index: 4;
            height: 14px;
            width: 300px;
            background: #a39762;
            border-radius: 0;
            transform: rotate(-9deg)
        }
        
        .part_2 {
            position: absolute;
            top: 100px;
            left: -18px;
            z-index: 4;
            height: 11px;
            width: 320px;
            background: #bcae73;
            border-radius: 0;
            transform: rotate(-9deg);
        }
        
        .part_3 {
            position: absolute;
            top: 122px;
            left: -18px;
            z-index: 4;
            height: 25px;
            width: 330px;
            background: #bcae73;
            border-radius: 0;
            transform: rotate(-9deg);
        }
        
        .part_4 {
            position: absolute;
            top: 155px;
            left: -18px;
            z-index: 4;
            height: 9px;
            width: 320px;
            background: #a39762;
            border-radius: 0;
            transform: rotate(-9deg);
        }
        
        .part_5 {
            position: absolute;
            bottom: 62px;
            left: -7px;
            z-index: 4;
            height: 25px;
            width: 330px;
            background: #bcae73;
            border-radius: 0;
            transform: rotate(-9deg);
        }
        
        .part_6 {
            position: absolute;
            bottom: 0;
            left: -7px;
            z-index: 4;
            height: 47px;
            width: 330px;
            background: #c7ba80;
            border-radius: 0;
            transform: rotate(-9deg);
        }
        
        .star {
            width: 6px;
            height: 6px;
            position: absolute;
            right: 95px;
            top: 58%;
        
            &::before,
            &::after {
                content: "";
                position: absolute;
                background-color: #c7c28f;
                display: block;
                left: 0;
                width: 141.4213%;
                /* 100% * √2 */
                top: 0;
                bottom: 0;
                border-radius: 5%;
                transform: rotate(66.66deg) skewX(45deg);
            }
        
            &::after {
                transform: rotate(156.66deg) skew(45deg);
            }
        }
        
        .star_2 {
            width: 3px;
            height: 3px;
            right: 150px;
            top: 78%;
        }
        
        .star_3 {
            width: 3px;
            height: 3px;
            left: 150px;
            top: 19%;
        }
        
        .star_4 {
            width: 5px;
            height: 5px;
            left: 50px;
            top: 38%;
        }
    }

    .ring {
        border: 20px solid #ffe8a3;
        height: 88px;
        width: 445px;
        border-radius: 100%;
        border-top: none;
        position: absolute;
        top: 110px;
        right: -73px;
        z-index: 10;
        transform: rotate(-19deg);
        box-shadow: 0px 7px 5px 1px #00000025;
    }
}

