$apl-color-red: #ff3b30;
$apl-color-yell: #ffcc00;
$apl-color-green: #28cd41;

#term {
    height: 20rem;
    width: 25rem;
    background: #111;
    border: 1px solid #252525;
    border-radius: 0.5rem;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.4);
    
    .term-bar {
        height: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #252525;
        justify-content: space-between;
    }
    
    .term-winctrl {
        padding: 0.5rem;
    }
    
    .term-btn {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 0.5rem;
        display: inline-block;
        margin: 0.1rem;
    
        &.close {
            background-color: $apl-color-red;
        }
    
        &.minimise {
            background-color: $apl-color-yell;
        }
    
        &.maximise {
            background-color: $apl-color-green;
        }
    }
    
    .term-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.85rem;
        color: #ddd;
        margin: auto 0;
    }
    
    .term-bar-gh {
        display: inline-block;
        width: 4.5rem;
        height: 2rem;
        padding: 0.5rem;
        text-align: right;
        margin: 0;
    }
    
    .term-cont {
        font-family: 'Inconsolata', monospace;
        color: #fff;
        padding: 0.5rem;
    }
    
    .term-cmd {
        background: none;
        margin: 0;
        border: 0;
        color: inherit;
        font-family: inherit;
        font-size: 1rem;
    }
    
    .term-caret {
        display: inline-block;
        color: #fff;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
    
        &.blink {
            color: transparent;
        }
    }
    
    .term-input-hide {
        opacity: 0;
        background: none;
        border: 0;
        color: transparent;
        position: absolute;
    }
}
