.window-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #F3F3F3;
    position: relative;
    background: #E4E5EA;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    
    .button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        top: 15px;
        left: 15px;
        margin-right: 6px;
    
        &:last-child {
            margin-right: 0;
        }
    }
    
    .x {
        background: #FF4444;
    }
    
    .min {
        background: #FDBE11;
    }
    
    .max {
        background: #07D149;
    }
}