@import "_theme/var", "_theme/mixins";

.windowIOS {
    .window-top {
        @include core-size(100%, 50px);
        border-bottom: 1px solid #F3F3F3;
        position: relative;
        background: #E4E5EA;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        
        .button {
            @include core-size(15px, 15px, inline-block);
            border-radius: 50%;
            position: relative;
            top: 15px;
            left: 15px;
            margin-right: 6px;
        
            &:last-child {
                margin-right: 0;
            }
        }
        
        .x {
            background: #FF4444;
        }
        
        .min {
            background: #FDBE11;
        }
        
        .max {
            background: #07D149;
        }
    }
    
    @include media-query(ph-portrait) {
        width: 100% !important;
    }

    @include media-query(ph-landscape) {
        top: 70% !important;
    }
}